.global {
    background-color: $blue;
    color: $white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex: 1 100%;
    
    h1 {
        font-family: $font-family-basic;
        font-size: $font-h1-size;
        margin: 0;
        
        &:before {
            @include mat-icon;
            content: 'menu';
        }
    }
    
    .logout {
        @include basic;
            
        &:before {
            @include mat-icon;
            text-transform: lowercase;
            content: 'power_settings_new';
        }    
        
        &:after {
            text-transform: uppercase;
            content: 'logout';
        }
    }
}