.container {
  display: flex;
  flex-flow: row wrap;
  background-color: #FAFAFA;
  padding-bottom: 100%;
}

.global {
  background-color: #283593;
  color: #fff;
  display: flex;
  padding: 0 10px 0 0;
  flex: 1 100%;
  text-align: left;
}
.global #menu {
  background-color: #283593;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50%;
  padding: 10px;
}
.global #menu i {
  font-size: 20px;
}
.global #menu:hover {
  background-color: #232E7F;
}
.global #menu:active {
  transform: rotate(35deg);
  background-color: #2D3CA7;
}
.global h1 {
  font-family: sans-serif;
  font-size: 16px;
  margin: auto 0;
  padding: 0 20px;
  cursor: default;
}
.global .logout {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
  flex: 1;
  text-align: end;
  margin: auto;
}
.global .logout:before {
  font-family: "Material Icons";
  padding: 10px;
  font-size: 20px;
  vertical-align: bottom;
  text-transform: lowercase;
  content: "power_settings_new";
  vertical-align: bottom;
}
.global .logout:after {
  text-transform: uppercase;
  content: "logout";
  padding-left: 20px;
}

nav {
  display: flex;
  flex-flow: row wrap;
  padding: 25px 0;
}
nav a {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  flex: 1 100%;
  color: #928A83;
  height: 50px;
}
nav a:before {
  font-family: "Material Icons";
  padding: 10px;
  font-size: 20px;
  vertical-align: bottom;
}
nav a:hover {
  color: #222222;
}
nav .active {
  color: #222222;
}

#menu-xl {
  flex: 1;
}
#menu-xl #dashboard:before {
  content: "dashboard";
}
#menu-xl #dashboard:after {
  content: "Dashboard";
}
#menu-xl #customers:before {
  content: "person";
}
#menu-xl #customers:after {
  content: "Customers";
}
#menu-xl #segments:before {
  content: "label";
}
#menu-xl #segments:after {
  content: "Segments";
}
#menu-xl #others:before {
  content: "attach_money";
}
#menu-xl #others:after {
  content: "Others";
}
#menu-xl #posters:before {
  content: "perm_media";
}
#menu-xl #posters:after {
  content: "Posters";
}
#menu-xl #categories:before {
  content: "turned_in";
}
#menu-xl #categories:after {
  content: "Categories";
}
#menu-xl #reviews:before {
  content: "chat";
}
#menu-xl #reviews:after {
  content: "Reviews";
}
#menu-xl #configuration:before {
  content: "settings";
}
#menu-xl #configuration:after {
  content: "Configuration";
}

#menu-xs {
  display: none;
}
#menu-xs #dashboard-xs:before {
  content: "dashboard";
}
#menu-xs #customers-xs:before {
  content: "person";
}
#menu-xs #segments-xs:before {
  content: "label";
}
#menu-xs #others-xs:before {
  content: "attach_money";
}
#menu-xs #posters-xs:before {
  content: "perm_media";
}
#menu-xs #categories-xs:before {
  content: "turned_in";
}
#menu-xs #reviews-xs:before {
  content: "chat";
}
#menu-xs #configuration-xs:before {
  content: "settings";
}

.list {
  -webkit-box-shadow: -1px 1px 49px -8px #b5b1b5;
  -moz-box-shadow: -1px 1px 49px -8px #b5b1b5;
  box-shadow: -1px 1px 49px -8px #b5b1b5;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  flex-flow: row wrap;
  flex: 5;
  background-color: #fff;
  margin: 15px 10px;
  border-radius: 5px;
  color: #222222;
  height: fit-content;
}
.list .list-title {
  display: flex;
  flex: 1 100%;
  justify-content: flex-end;
  padding: 10px;
}
.list .list-title h2 {
  font-family: sans-serif;
  font-size: 20px;
  margin: auto 0;
  flex: 1;
}
.list .list-title .add-filter {
  color: #283593;
}
.list .list-title .add-filter:before {
  font-family: "Material Icons";
  font-size: 16px;
  vertical-align: bottom;
  margin: auto 10px;
  content: "filter_list";
}
.list .list-title .add-filter:after {
  text-transform: uppercase;
  content: "add filter";
}
.list .list-title .create {
  color: #283593;
}
.list .list-title .create:before {
  font-family: "Material Icons";
  font-size: 16px;
  vertical-align: bottom;
  margin: auto 10px;
  content: "add";
}
.list .list-title .create:after {
  text-transform: uppercase;
  content: "create";
}
.list .list-title .refresh {
  color: #283593;
}
.list .list-title .refresh:before {
  font-family: "Material Icons";
  font-size: 16px;
  vertical-align: bottom;
  margin: auto 10px;
  content: "refresh";
}
.list .list-title .refresh:after {
  text-transform: uppercase;
  content: "refresh";
}
.list table {
  flex: 1 100%;
  line-height: 1.5;
  border-collapse: collapse;
}
.list table tr {
  border-bottom: 1px solid #E0E0E0;
}
.list table tr th {
  text-align: left;
}
.list table tr td {
  color: #757575;
}
.list table .name:before {
  content: "Name";
}
.list table .name:after {
  font-family: "Material Icons";
  font-size: 16px;
  vertical-align: bottom;
  margin: auto 10px;
  content: "arrow_upward";
}
.list table .products {
  color: #283593;
}
.list table .products:before {
  font-family: "Material Icons";
  padding: 10px;
  font-size: 20px;
  vertical-align: bottom;
  content: "perm_media";
}
.list table .products:after {
  text-transform: uppercase;
  content: "products";
}
.list table .edit {
  color: #283593;
}
.list table .edit:before {
  font-family: "Material Icons";
  padding: 10px;
  font-size: 20px;
  vertical-align: bottom;
  content: "edit";
}
.list table .edit:after {
  text-transform: uppercase;
  content: "edit";
}
.list .table-footer {
  flex: 1 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  color: #757575;
}
.list .table-footer .total-rows, .list .table-footer .total-pages {
  margin: auto 10px;
  padding: 0 20px;
}
.list .table-footer .total-pages {
  letter-spacing: 20px;
  color: #222222;
}
.list .table-footer .total-pages .active-page {
  color: #283593;
}
.list .table-footer .next {
  color: #283593;
}
.list .table-footer .next:before {
  text-transform: uppercase;
  content: "next";
}
.list .table-footer .next:after {
  font-family: "Material Icons";
  font-size: 16px;
  vertical-align: bottom;
  margin: auto 10px;
  content: "keyboard_arrow_right";
}
.list .search {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding: 10px;
  color: #757575;
}
.list .search input {
  height: fit-content;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  outline: none;
}
.list .posters {
  display: flex;
  flex-flow: row wrap;
  flex: 1 100%;
  color: #fff;
}
.list .post-item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
  margin: 2px;
  flex: 1 20%;
  height: 80%;
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}
.list .post-item .post-name {
  flex: 1 100%;
}
.list .post-item .post-price {
  flex: 1;
  padding-left: 10px;
}
.list .post-item .post-edit {
  align-self: flex-end;
}
.list .post-item .post-edit:before {
  font-family: "Material Icons";
  padding: 10px;
  font-size: 20px;
  vertical-align: bottom;
  content: "edit";
}
.list .post-item-1 {
  background-image: url(1.jpg);
}
.list .post-item-2 {
  background-image: url(2.jpg);
}
.list .post-item-3 {
  background-image: url(3.jpg);
}
.list .post-item-4 {
  background-image: url(4.jpg);
}
.list .post-item-1 {
  background-image: url(1.jpg);
}
.list .post-item-5 {
  background-image: url(5.jpg);
}
.list .post-item-6 {
  background-image: url(6.jpg);
}
.list .post-item-7 {
  background-image: url(7.jpg);
}
.list .post-item-8 {
  background-image: url(8.jpg);
}
.list .post-item-9 {
  background-image: url(9.jpg);
}
.list .post-item-10 {
  background-image: url(10.jpg);
}
.list .post-item-11 {
  background-image: url(11.jpg);
}
.list .post-item-12 {
  background-image: url(12.jpg);
}

.login-container {
  background-image: url(login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 700px;
}
.login-container .login-window {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 10px;
  background-color: #fff;
  margin: 10% 0;
  width: 330px;
  border-radius: 5px;
}
.login-container .login-window .lock {
  background-color: #F50057;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-self: center;
}
.login-container .login-window .lock:before {
  font-family: "Material Icons";
  padding: 10px;
  font-size: 20px;
  vertical-align: bottom;
  padding: 8px;
  font-size: 25px;
  line-height: 1.5;
  content: "lock";
  color: #fff;
}
.login-container .login-window p {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #757575;
  align-self: center;
  flex: 1;
}
.login-container .login-window label {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #757575;
  margin: 20px 0 0 0;
}
.login-container .login-window input {
  border: none;
  border-bottom: 1px solid #E0E0E0;
  padding: 10px 0;
  outline: none;
}
.login-container .login-window input:required:focus {
  border-bottom: 1px solid #ff0000;
  margin-bottom: 5px;
}
.login-container .login-window input:focus::-webkit-input-placeholder {
  color: #ff0000;
}
.login-container .login-window input:focus + span:before {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
  content: "Required";
  color: #ff0000;
  font-size: 10px;
}
.login-container .login-window button {
  background-color: #283593;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  outline: none;
}

@media (max-width: 500px) {
  nav a {
    font-size: 10px;
  }
  nav a:before {
    font-size: 16px;
  }

  .global h1 {
    font-size: 12px;
  }
  .global .logout:before {
    font-size: 16px;
  }

  .list {
    font-size: 10px;
  }
  .list .list-title h2 {
    font-size: 12px;
  }
  .list table .products:before, .list table .edit:before {
    font-size: 16px;
  }
  .list .table-footer .total-pages {
    letter-spacing: 5px;
  }
  .list .table-footer .total-rows {
    padding: 0;
  }
  .list .table-footer .next:after {
    font-size: 10px;
  }
  .list .post-item {
    height: 30%;
    flex: 1 25%;
  }

  #menu-xl {
    display: none;
  }

  #menu-xs {
    display: flex;
    flex: 0;
  }

  .login-container .login-window {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
