// colors
$blue: #283593;
$blue-dark: #232E7F;
$blue-light: #2D3CA7;
$white: #fff;
$gray-light: #928A83;
$gray-medium: #757575;
$gray-dark: #222222;
$background-light: #FAFAFA;
$border: #E0E0E0;
$pink: #F50057;
$red: #ff0000;

// font size
$font-h1-size: 16px;
$font-mat-size: 20px;
$font-mat-m-size: 16px;
$font-m-size: 12px;
$font-xs-size: 10px;

// font family
$font-family-basic: sans-serif;

// pading-basic
$padding-basic: 10px;

//border-bottom
$border-bottom: 1px solid $border;