@media(max-width: 500px) {
    nav {
        a {
            font-size: $font-xs-size;
            
            &:before {
                font-size: $font-mat-m-size;
            }
        }
    }
    
    .global {
        h1 {
            font-size: $font-m-size;
        }
        
        .logout:before {
            font-size: $font-mat-m-size;
        }
    }
    
    .list {
            font-size: $font-xs-size;
        .list-title {
            h2 {
                font-size: $font-m-size;
            }
        }
        table {
            .products:before, .edit:before {
                font-size: $font-mat-m-size;
            }   
        }
        
        .table-footer {
            .next {
                &:after {
                    font-size: $font-xs-size;
                }
            }
        }
    }
    
    #menu-xs {
        display: flex;
        flex: 0;
    }
    
    #menu-xl {
        display: none;
    }
}